@import 'tailwindcss';

.bg-primary {
  background-color: #ff8108;
}

.text-primary {
  color: #ff8108;
}

.border-primary {
  border-color: #ff8108;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: 'Poppins', sans-serif;
}
